rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regra para a coleção 'carlog' onde o ID do documento é o UID do usuário
    match /carlog/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}